
@{
    ViewBag.Title = "Landing";

}





<body id="page-top">
    <div class="panel panel-body">
       
        <div id="wrapper">
            @{ Html.RenderAction("HSideMenu", "Dashboards");}
        </div>
    </div>
</body>